@use './globals' as *;

.gallery { 
    padding: 80px 0;
    @media (max-width: $tablet) {
        padding: 50px 0;
    }
}
.gallery .sub-title { 
    text-align: center;
    margin-bottom: 24px; 
    font-weight: 400;
    font-size: 18px;
    max-width: 500px;
    margin: 24px auto 0;

    @media (max-width: $tablet) {
        font-size: 16px;
    }
}
.gallery-slider {
  margin-top: 40px;
}

.gallery-row { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    gap: 20px; 
}
.swiper-slide img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 16px;
}
.swiper-button-prev, .swiper-button-next { 
    color: $primary;
    display: none;
}