@use './globals' as *;

.site-header {
    background: $white;
    border-bottom: 1px solid #C5C5C5;
    position: fixed;
    width: 100%;
    z-index: 22;

    .nav {
        display: flex; 
        align-items: center;
        padding: 16px; 
    }
    
    .logo { 
        max-width: 214px;

        img{
            width: 100%;
            height: auto;
        }
    }
    .logo-m{
        display: none;
    }
    .header-content{
        display: flex;
        align-items: center;
        width: 100%;

        &__title{
            display: none;
        }
    }
    .menu { 
        display: flex;
        flex-wrap: wrap;
        margin-left: 66px;
        font-weight: 500;

        a { 
            padding: 8px 12px; 
            border-radius: 8px; 
        }
    }
    .burger{
        display: none;
    }

    @media (max-width: $pc) {
        .logo { 
            display: none;
        }
        .logo-m{
            display: block;
            width: 48px;
            height: auto;

            img{
                width: 100%;
                height: auto;
            }
        }

        .menu {
            margin-left: 30px;
        }
    }

    .contacts { 
        display: flex; 
        align-items: center; 
        gap: 24px;
        margin-left: auto;
        
        .phone { 
            font-weight: 500;
            flex: 0 0 auto;

            .icon-phone{
                display: none;
            }
        }
    }

    @media (max-width: $tablet) {
        .burger{
            display: flex;
            flex-direction: column;
            gap: 6px;
            width: 40px;
            height: 40px;
            padding: 5px;
            margin-left: auto;

            span{
                width: 100%;
                height: 5px;
                border-radius: 5px;
                background: $primary;
            }
        }

        .header-content{
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -500px;
            max-width: 500px;
            height: 100%;
            background: $white;
            align-items: start;
            padding: 40px;
            transition: right .3s;
            z-index: 111;

            &__title{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 36px;
                font-weight: 700;
            }

            &.open{
                right: 0;
            }
        }

        .menu{
            flex-direction: column;
            margin: 20px 0 40px;
            gap: 10px;
            width: 100%;

            a{
                padding: 15px 0;
                width: 100%;
                font-size: 20px;
                font-weight: 500;
            }
        }
        .contacts{
            flex-direction: column;
            align-items: start;
            width: 100%;
            margin: auto 0 0;
            gap: 32px;

            .phone{
                text-decoration: underline;
                display: flex;
                align-items: center;
                gap: 14px;

                .icon-phone{
                    display: block;
                }
            }

            .btn{
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
