@use './globals' as *;

.map { 
    padding: 80px 0 0;

    &__container{
        height: 100%;
        display: flex;
        align-items: center;
    }

    @media (max-width: $tablet) {
        padding: 40px 0 0;

        &__container{
            padding: 20px;
        }
    }
}
.map-wrapper { 
    position: relative; 
    height: 600px; 
    border-radius: 20px; 
    overflow: hidden;
    background: #eee;
    margin-top: 40px;

    @media (max-width: $tablet) {
        height: auto;
    }
}
.map-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;

    @media (max-width: $tablet) {
        position: relative;
        height: 400px;
    }
}
.map-card {
    position: relative;
    width: 380px; 
    background: $white; 
    border-radius: 20px; 
    padding: 30px;
    z-index: 3;
    box-shadow: 0px 14px 24px 0px #8D68681F;

    @media (max-width: $tablet) {
        padding: 20px;
    }

    &-content{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    .hours{
        span{
            color: $primary;
        }
    }
    .inp{
        display: inline-block;
        padding: 16px;
        border-radius: 8px;
        background: #F4F4F4;
        border: 1px solid #E7E7E7;
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}