body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	backdrop-filter: blur(10px);
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.1s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__body {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__body {
	position: relative;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	padding: 40px 60px;
	width: 100%;
	max-width: 540px;
	border-radius: 20px;

	.lock & {
		visibility: visible;
	}

	.form{
		padding: 0;

		.fields{
			flex-direction: column;
			gap: 40px;

			.form-field{
				width: 100%;
			}
			.btn{
				width: 100%;
			}
			.agree.agree-m.agree-m-modal{
				display: flex;
				width: 100%;

				@media (max-width: 490px) {
					label{
						font-size: 14px;
					}
				}
			}
		}

		.agree-modal{
			display: none;
		}
	}

	@media (max-width: 490px) {
		padding: 20px;

		.form{
			margin-top: 16px;

			.fields{
				gap: 16px;
			}
		}
	}
}
.popup__close{
	position: absolute;
	top: 20px;
	right: 20px;
	transform: rotate(45deg);
	
	svg{
		width: 20px;
		height: 20px;
	}
}
.popup__text{
	&-title{
		font-size: 44px;
		font-weight: 700;
		text-align: center;
	}

	@media (max-width: 490px) {
		&-title{
			font-size: 32px;
		}
	}
}