@use './globals' as *;

.reviews { 
    padding: 80px 0;

    @media (max-width: $tablet) {
        padding: 0 0 50px;
    }
}
.reviews-grid { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 24px; 
    margin-top: 40px;

    @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr); 
    }
    @media (max-width: $mobile) {
         grid-template-columns: 1fr;
         margin-top: 24px;
         gap: 16px;
    }
}
.plate { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: $white; 
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 14px 24px 0px #8D68681F;

    .text{
        p{
            line-height: 140%;
        }
    }
}
.plate .name {
    font-size: 24px;
    font-weight: 700; 
    margin-bottom: 10px;

    @media (max-width: $mobile) {
        font-size: 18px;
    }
}
.plate img { 
    width: 152px; 
    height: 24px; 
}
.rating { 
    display: grid; 
    justify-items: center; 
    gap: 30px; 
    margin-top: 60px;

    @media (max-width: $mobile) {
        margin-top: 24px;
        gap: 24px;
    }
}
.rating .note { 
    color: $dark; 
}
.btn-stroke { 
    background: $white; 
    color: $white; 
    border: 1px solid #000; 
}