@use './globals' as *;

.steps { 
    padding: 0 0 80px;

    @media (max-width: $tablet) {
        padding: 0 0 50px;
    }

    &__container{
        position: relative;
    }

    .section-title{
        span{
            display: block;
        }
    }

    &-line { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        max-width: 1160px; 
        width: 100%; 
        height: auto;
        z-index: -1;

        @media (max-width: $pc) {
			display: none;
		}
    }
    &-grid {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 22px; 
        margin: 100px 0 50px;
        z-index: 2;

        @media (max-width: $pc) {
			flex-wrap: wrap;
             margin: 50px 0;
		}
        @media (max-width: $tablet) {
			gap: 10px;
            margin: 30px 0;
		}
    }
    .step-plate { 
        background: $white; 
        border-radius: 10px; 
        box-shadow: 0px 14px 24px 0px #8D68681F;
        padding: 24px; 
        display: grid; 
        gap: 20px;

        @media (max-width: $pc) {
			width: calc(100% / 4);
		}
        @media (max-width: $tablet) {
			width: calc(100% / 2 - 10px);
            padding: 16px;
		}
        
    }
    .step-top { 
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        gap: 12px; 
    }
    .step-icon { 
        width: 50px; 
        height: 50px;

        @media (max-width: $tablet) {
			width: 40px; 
            height: 40px;
		}
    }
    .step-tag { 
        border: 1px solid #D9D9D9; 
        border-radius: 50px; 
        padding: 6px 16px; 
        font-size: 14px; 
        font-weight: 700;

        @media (max-width: $tablet) {
			font-size: 12px;
		}
    }
    .step-title { 
        font-size: 24px; 
        font-weight: 700;

        @media (max-width: $tablet) {
			font-size: 16px;
		}
    }
    .step-desc { 
        font-size: 16px;
        line-height: 140%;
        color: $dark;
        margin-top: 10px;

        @media (max-width: $tablet) {
			font-size: 14px;
		}
    }
    .btn{
        margin: 0 auto;

        @media (max-width: $tablet) {
			width: 100%;
            max-width: 100%;
		}
    }
}
