@use 'sass:math';

@function rem($px, $base: 16) {
  @return math.div($px, $base) * 1rem;
}

@function em($px, $base: 16) {
  @return math.div($px, $base) * 1em;
}

$fontFamily: 'Tilda Sans', Helvetica, Arial, sans-serif;
$fontSize: 16px;

$black: #000000;
$white: #ffffff;

$dark: #1F1F1F;

$primary: #D30F2D;
$primaryLight: #CF5366;

$primaryHover: #FF0E33;
$primaryLightHover: #F25F76;

$primaryGr: linear-gradient(90deg, $primary 0%, $primaryLight 100%);
$primaryGrHover: linear-gradient(90deg, $primaryHover 0%, $primaryLightHover 100%);

$pink: #FFDEE3;
$pinkHover: #FFA0AF;

$pinkGr: linear-gradient(90deg, $white 0%, $pink 100%);
$pinkGrHover: linear-gradient(90deg, $white 0%, $pinkHover 100%);


// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1440;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 32;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;
