@use './globals' as *;


.why { 
	padding: 80px 0;

	@media (max-width: $tablet) {
		padding: 50px 0;
	}

	&-grid{
		display: flex;
		align-items: center;
		gap: 60px;

		@media (max-width: $pc) {
			gap: 30px;
		}
	}

	&-image {
		border-radius: 40px; 
		overflow: hidden;
		flex: 1 0 auto;
		max-width: 605px;

		img { 
			width: 100%; 
			height: 100%; 
			object-fit: cover; 
		}

		@media (max-width: $pc) {
			flex: 1 1 auto;
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&-content {
		flex: 1 1 auto;
		display: grid; 
		gap: 20px; 
		align-content: start;

		&-img{
			display: none;
		}

		h2{
			font-size: 64px;
			font-weight: 700;
			line-height: 100%;

			span{
				color: $primary;
			}

			@media (max-width: $pc) {
				font-size: 32px;
			}

			@media (max-width: $tablet) {
				text-align: center;
			}
		}

		&>p{
			font-size: 18px;
			font-weight: 400;
			max-width: 490px;
			margin-top: 40px;
			line-height: 140%;

			@media (max-width: $pc) {
				font-size: 16px;
				margin-top: 20px;
			}
			@media (max-width: $tablet) {
				text-align: center;
				margin-top: 16px;
				max-width: 100%;
			}
		}

		@media (max-width: $tablet) {
			&-img{
				display: block;
				width: 100%;
			}
		}
	}

	&-plates { 
		display: grid; 
		grid-template-columns: repeat(2, 1fr); 
		gap: 26px;
		grid-auto-rows: 1fr;
		align-items: center;
		margin-top: 40px;

		@media (max-width: $pc) {
			margin-top: 20px;
			gap: 20px;
		}

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
		}

		.plate { 
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: $white; 
			border-radius: 10px; 
			box-shadow: 0px 14px 24px 0px #8D68681F; 
			padding: 35px; 
			font-weight: 500;
			height: 100%;

			h3{
				font-size: 24px;
				font-weight: 700;

				@media (max-width: $pc) {
					font-size: 18px;
				}
			}

			p{
				font-weight: 400;
				margin-top: 10px;
				line-height: 140%;
			}

			@media (max-width: $pc) {
				padding: 20px;
			}
		}

		.btn{
			justify-self: center;

			@media (max-width: $tablet) {
				width: 100%;
				max-width: 100%;
			}
		}
	}
}
